
a {
	font-family:'Arial';
	color:gray;
}
a:hover{ 
	color:red;
	font-family:'Times New Roman'
   }
   
#qa:hover{ 
	color:red;
	font-family:'Times New Roman'
   }

h1{
	font-family: 'Times New Roman';

}

p3{
	font-family:'Arial';
}

#qa { 
            text-decoration: none; 
            border: none; 
            padding: 12px 40px; 
            font-size: 16x; 
            background-color: gray; 
            color: #fff; 
            border-radius: 5px; 
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
            cursor: pointer; 
            outline: none; 
            transition: 0.2s all; 
        } 

 #qa:active {
 	transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} 