body {
   background-image: url("images/Minimal-Gra-Simple-White-1080x1920.jpg");
   background-size: cover;
}

.qq{
   font-family:'LUCIDA SANS UNICODE';
   color:darkslategray;
}

a {
   font-family:'Arial';
   color:gray;
}
a:hover{ 
   color:#800000;
   font-family:'Times New Roman';
   }
   
#qa:hover{ 
   color:#800000;
   font-family:'Times New Roman'
   }

.h{
   font-family: 'LUCIDA SANS UNICODE';
   color:darkslategray;
}


#qa { 
            text-decoration: none; 
            border: none; 
            padding: 12px 30px; 
            font-size: 16x; 
            background-color: #90a09cc3; 
            color: #fff; 
            border-radius: 5px; 
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
            cursor: pointer; 
            outline: none; 
            transition: 0.2s all; 
        } 

 #qa:active {
   transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
} 


#pp{
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}




.hp {
    font-family:'Arial';
     color: #2F4F4F;
}

p {
   font-family:'trebuchet ms';
   color: #656363 ;
}





.glow-on-hover {
    width: 100px;
    height: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: darkslategray;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
